<!-- file used to style changes across multiple pages at once -->
<html>
<head>
	<title>Stumble Story</title>

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="julie_style.css">
</head>
<body>


<!--  pulls and wrapps and html from other erb files -->

	<!-- makes the logo fixed on every page -->


    <%=yield %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="main.js"></script>
</body>
</html>