<!-- file used to style changes across multiple pages at once -->
<html>
<head>
	<title></title>

	<!-- MAIN CSS -->
	<link rel="stylesheet" href="style.css">
</head>
<body>


<!--  pulls and wrapps and html from other erb files -->

	<!-- makes the logo fixed on every page -->


    <%=yield %>

    <script src=""></script>
    <script src="main.js"></script>

</body>
</html>