<script>document.write('<style>.js_hidden {display:none;}</style>');</script> 

<div class="form">
  <div class="logo"></div>
  <ul class="tab-group">
    <li class="tab active"><a href="#signup">Sign Up</a></li>
    <li class="tab"><a href="#login">Log In</a></li>
  </ul>
  <div class="tab-content">
    <div id="signup">
      <h1>Sign Up for Free</h1>
      <form action="/" method="post">
        <div class="top-row">
          <div class="field-wrap">
            <label>First Name<span class="req">*</span></label>
            <input type="text" required="required" autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>Last Name<span class="req">*</span></label>
            <input type="text" required="required" autocomplete="off"/>
          </div>
        </div>
        <div class="field-wrap">
          <label>Email Address<span class="req">*</span></label>
          <input type="email" required="required" autocomplete="off"/>
        </div>
        <div class="field-wrap">
          <label>Password<span class="req">*</span></label>
          <input type="email" required="required" autocomplete="off"/>
        </div>
        <input type="submit" class="button button-block" value="Sign Up Now"/>
      </form>
    </div>
    <div id="login" class="js_hidden">
      <h1>Welcome Back!</h1>
      <form action="/" method="post"> 
        <div class="field-wrap">
          <label>Email Address<span class="req">*</span></label>
          <input type="email" required="required" autocomplete="off"/>
        </div>
        <div class="field-wrap">
          <label>Password<span class="req">*</span></label>
          <input type="email" required="required" autocomplete="off"/>
        </div>
	      <input type="submit" class="button button-block" value="Log In"/>
      </form> 
  <p>Book graphic by <a href="http://www.freepik.com/">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>   	
</div>