<!-- nav -->
<link rel="stylesheet" href="style.css">
<nav>
	<ul>
		<li>Logout</li>
		<li>settings</li>
		<li>Discover</li>
		<li>Profile</li>
	</ul>
</nav>

<!-- picture -->
<div id="pic-wrapper">

<div id="pic">
	<img src="http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg">
</div>
<h1>USERNAME<h1>
</div>
<!-- about -->
<div id="about-wrapper">

<h3>About</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deleniti impedit obcaecati adipisci dolorum velit nam voluptatibus rem magni architecto officiis dolorem, id assumenda? Voluptas molestiae iusto dicta numquam sunt.
	</p>
</div>

<!-- blog post -->
<div id="blog-post-wrapper">
<h3>Write Something!</h3>
	<form method="POST" action="">
  		<textarea name="blog-body"></textarea>
  		<input type="submit">
	</form>
</div>