<link rel="stylesheet" href="style.css">
<nav>
	<ul>
		<li><a href="/logout">Logout</a></li>
		<li><a href="settings">Settings</a></li>
		<li><a href="discover">Discover</a></li>
		<li><a href="profile">Profile</a></li>
	</ul>
</nav>
<!-- picture -->
<div id="pic-wrapper">

<div id="pic">
	<img src="http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg">
</div>

<div id="pic-upload">
	<form action="demo_form.asp">
  		<input type="file" name="pic" accept="image/*">
	</form>
</div>
</div>

<!-- about -->
<div id="settings-wrapper">
<h3>Settings</h3>
	<form method="POST" action="">
  			<h5>First name:</h5>
 			<input type="text" name="firstname">
  			<h5>Last name:</h5>
  			<input type="text" name="lastname">
  			<h5>Username:</h5>
 			<input type="text" name="user_name">
  			<!-- Birthday:
  			<input type="text" name="birthday"> -->
  			<h5>About:</h5>
  		<textarea name="about-body"></textarea>
  		<!-- style to edit -->
	</form>
</div>
<!-- FOLLOWERS -->

<div id="post-history-wrapper">
<h3>Posts</h3>

</div>

</div>
<!-- settings buttons -->
<div id="settings-buttons">
<input type="submit" value="Edit">
<input type="submit">
</div>